.newUser {
    flex: 4;
  }

  
  .newUserForm {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  
  .newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .newUserItem > label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(22, 20, 20);
  
  }
  
  .newUserItem > input {
    height: 30px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .newUserGender > input {
    margin-top: 15px;
  }
  
  .newUserGender>label{
      margin: 10px;
      font-size: 18px;
      color: #555;
  }
  
  .newUserSelect{
      height: 40px;
      border-radius: 5px;
  }
  
  .newUserButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align-last: center;
    margin-left: 400px;
  }

  .cancelUserButton{
    background-color: #cfd6d0; /* Green */
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align-last: center;
   margin-left: 50px;
  }
  
  
  
  